<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Nombre y Apellido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--header , acerca e img -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <h3>Titulo</h3>
        <h6>nacionalidad</h6>
      </ion-col>
      <ion-col size="6">
        <img class="img-perfil" src="../../../assets/images-develop/perfil.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- content-->

  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
      Aspernatur nesciunt modi expedita. Ut pariatur, porro 
      ipsa suscipit sapiente ipsam, sint amet dicta inventore 
      atque ad aliquid asperiores fuga itaque. In!
    </ion-card-content>
  </ion-card>
  
  <app-experiencia></app-experiencia>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Logear</ion-title>
  </ion-toolbar>
</ion-footer>