ion-content.background{
    --background: url(../../../assets/fonde/perfil-1.svg);   
}
.title{
    width: 100%;
    text-align: center;
}
.box{
    padding:10%;
    border-radius:2em;
    background-color:rgba($color: #000000, $alpha: 0.5);
    width: 100%;
}
.item-form{
    border-radius: 1em;
}
ion-label{
    font-size: 18px;
    padding: 2%;
    margin:2%;
    width: 100%;
}
