<ion-content class="ion-padding">

  <div class="ion-padding" class="main">
   

      <ion-item> <ion-input class="buscador" type="text" placeholder="Buscar codigo"></ion-input>
        <ion-label><ion-fab-button color="none">
          <ion-icon name="search"></ion-icon>
        </ion-fab-button></ion-label>
      </ion-item>
    <br>
    <div class="center">
      <ion-fab-button (click)="scan()">
        <img src="../../assets/icon/qr.svg" alt="" srcset="">
      </ion-fab-button>
    </div>
    <br>
    <ion-button id="open-modal"  expand="block" color="success">
      logear
    </ion-button>
    <app-inicio-sesion></app-inicio-sesion>
 <!--Mandar a servicio-->
    <ion-button [routerLink]="['/login']"   expand="block">
      registrarse
    </ion-button>

  </div>

</ion-content>