<body class="ion-padding">

  <div class="ion-padding" class="main">
    <ion-grid fixed>
      <ion-row class="ion-no-padding">
        <ion-col size="9">
          <ion-input type="text" placeholder="codigo perfil "></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button  fill="clear">
            Buscar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="center">
      <ion-fab-button>
        <img src="../../assets/icon/qr.svg" alt="" srcset="">
      </ion-fab-button>
    </div>


    <br>
    <ion-button [routerLink]="['/perfil']" fill="outline" expand="full" color="secondary">
      logear
    </ion-button>

    <ion-button  fill="outline" expand="full">
      registrarse
    </ion-button>

  </div>
</body>