<body class="ion-padding">

  <div class="ion-padding" class="main">
   
    <div>
      <ion-item> <ion-input class="buscador" type="text" placeholder="Buscar codigo"></ion-input>
        <ion-label><ion-fab-button color="none">
          <ion-icon name="search"></ion-icon>
        </ion-fab-button></ion-label>
      </ion-item>
    </div>
    <br>
    <div class="center">
      <ion-fab-button>
        <img src="../../assets/icon/qr.svg" alt="" srcset="">
      </ion-fab-button>
    </div>
    <br>
    <ion-button [routerLink]="['/perfil']" fill="outline" expand="block" color="secondary">
      logear
    </ion-button>
 <!--Mandar a servicio-->
    <ion-button  fill="outline" expand="block">
      registrarse
    </ion-button>

  </div>
</body>